# Atividade01_Etapa03

Gerar números aleatórios que representem a atividade industrial (ex: toneladas de cimento produzido). Utilize alguma indústria do estado para basear seus códigos. 

Controle de Poluição Atmosférica | Professor: Leonardo Hoinaski | Aluna: Marilia Meister

## Pesquisa:
Após uma breve pesquisa no site do Sindicato Nacional da Indústria do Cimento - SNIC, foi possível observar a produção Regional de 2022 para a região sul do Brasil. Os valores reais podem ser consultados no link: <https://snic.org.br/assets/pdf/numeros/1691430860.pdf>

## Explicação do objetivo inical do código: 

Apresentar uma tabela com com valores ficticios de produção de cimento na região sul do Brasil, apresentando a produção mensal durante todo ano de "2024". Entretanto, para não gerar valores muito fora da realidade, buscou-se basear a geração de valores, fictícios, no intervalo dos valores máximo e mínimo da tabela fornecida pelo SNIC, mencionada acima.

## Código:

In [76]:
## Produção de cimento de janeiro a dezembro de 2022. Fonte: SNCI

producao_mesal= [847493, 894887, 935650, 933391, 987705, 875412, 1062739, 998597, 928816, 916307, 947721, 851183]
print(producao_mesal)

[847493, 894887, 935650, 933391, 987705, 875412, 1062739, 998597, 928816, 916307, 947721, 851183]

In [78]:
# Encontrando os valores máximo e mínimo de toneladas de cimento produzidas no ano de 2022, na região sul do Brasil.

maximo = max(producao_mesal)
minimo = min(producao_mesal)
print(f"O valor máximo da producao_mesal é: {maximo}")
print(f"O valor máximo da producao_mesal é: {minimo}")

O valor máximo da producao_mesal é: 1062739
O valor máximo da producao_mesal é: 847493

In [81]:
# Gerando 12 valores aleatórios a partir do intervalo [847493;1062739]

print(np.random.randint(847493, 1062740, 12)) # 847493, 1062740 é o intervalo que desejo
                                             # 12 é a quantidade de numeros que espero aparecer

[ 951377  935777  979882  853176 1006651 1022703  904145 1002920  986676
  993239 1029711  973094]

In [85]:
#Criando a tabela com valores ficticios
import pandas as pd

# Criando um dataframe
data = {'Mês': ['Jan', 'Fev', 'Mar', 'Abr','Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        'Produção em toneladas (t)': [951377, 935777, 979882, 853176, 1006651, 1022703, 904145, 1002920, 986676, 993239, 1029711, 973094]}

df = pd.DataFrame(data)

## A tabela abaixo apresenta a produção mensal de tonaladas de cimento produzidas
## pelas empresas do sul do Brasil para o ano de 2024. 

Obs.: Valores fictícios.

In [86]:
df ##df mostra a tabela

    Mês  Produção em toneladas (t)
0   Jan                     951377
1   Fev                     935777
2   Mar                     979882
3   Abr                     853176
4   Mai                    1006651
5   Jun                    1022703
6   Jul                     904145
7   Ago                    1002920
8   Set                     986676
9   Out                     993239
10  Nov                    1029711
11  Dez                     973094